<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399637874358-frj4r6hos11p8j9oon5kihhndba916v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399637874358-frj4r6hos11p8j9oon5kihhndba916v8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399637874358-655k5an89bm56uurs0uo1gevvq1got3u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRj7iS0zqDw1Njk9XZZv_M2Z1ebZO8_hU</string>
	<key>GCM_SENDER_ID</key>
	<string>399637874358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambrosiaAlert</string>
	<key>PROJECT_ID</key>
	<string>ambrosia-alert-5bb96</string>
	<key>STORAGE_BUCKET</key>
	<string>ambrosia-alert-5bb96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399637874358:ios:9a7b483661cc49f6cec817</string>
	<key>DATABASE_URL</key>
	<string>https://ambrosia-alert-5bb96-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>